/* @media only screen and (min-width: 992px) {
  ul.coundown {
    flex-wrap: wrap;
  }

  .Feature {
    flex-wrap: wrap;
    gap: 1em;
  }

  .coundown_1 {
    width: 175px;
  }
  button.btn.btn-lg {
    font-size: 0.8em;
  }
  img.spary-1 {
    width: 100%;
  }

  .Mall-f {
    font-size: 0.8em;
  }
} */
